* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --text-color: #008b55;
    font-family: 'Poppins';
    font-weight: 400;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #001f39;
    color: white;

}

#container {
    width: fit-content;
    margin: 150px;
}

#container h2 {
    font-size: 35px;
}

#container h2:nth-child(2) {
    color: #008b55;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 3px solid #008b55;
    font-weight: 500;
}

.pass-generator {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.pass-generator .pass {
    font-size: 20px;
    color: #212121;
    border: none;
    background-color: transparent;
    outline: none;
    width: fit-content;
}

.pass-generator img {
    width: 30px;
    height: 30px;
    /* object-fit: cover; */
}

.generate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #008b55;
    color: white;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 30px;
    gap: 10px;
    transition: 0.3s;
}

.generate span {
    font-size: 20px;
    font-weight: 300;
}

.generate:hover {
    background-color: #056e46;
    cursor: pointer;
}


.generate img {
    width: 25px;
    height: 25px;
}

.pass-generator img:hover {
    cursor: pointer;
}

@media (max-width:600px) {
    #container{
        margin: 0;
        margin: 25px 20px;
    }
    #container h2{
        font-size: 25px;
    }

    .pass-generator{
        width: 350px;
    }

    .pass-generator .pass{
        font-size: 16px;
    }
}